@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #0f0f0f;
  width: 100%;
}

h2 {
  font-size: 6em;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  span {
    transition: 0.3s;
  }
  &:hover {
    span {
      color: #f1f1f1;
      text-shadow:
        0 0 10px #f1f1f1,
        0 0 20px #f1f1f1,
        0 0 40px #f1f1f1,
        0 0 80px #f1f1f1,
        0 0 120px #f1f1f1,
        0 0 160px #f1f1f1;
      &:nth-child(1) {
        margin-right: 10px;
        &::after {
          content: "";
        }
      }
      &:nth-child(2) {
        margin-left: 40px;
      }
    }
  }
}

@media(max-width: 700px) {
  h2 {
    font-size: 2em;
  }
}
